player-connection-mode=Listen
player-connection-guid=1356301131
player-connection-debug=0
player-connection-project-name=le chapeau project
player-connection-ip=172.30.125.188
player-connection-ip=172.30.105.148
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
